@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,700&display=swap');


 * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
}

body {
       font-family: 'poppins';
       line-height: 1.6em;
       font-size: 16px;
       
}

main{

       background-image: url(./images/bg-intro-desktop.png);
       background-color: hsl(0, 100%, 74%) ;
}

section {
       /* height: 100vh; */
       max-width: 1440px;
       margin: 0 auto;
       width: 90%;
       padding: 50px;
}

.grid {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       padding:50px 100px 50px 100px;
       align-items: center;
       gap: 20px;
       
}

.right-content {
       padding: 20px;
}
.text-content {
       padding:  30px;
}
.text-content h1 {
       font-size: 3rem;
       line-height: 1em !important;
       margin-bottom: 20px;
}
.info {
       background:  hsl(248, 32%, 49%);
       color: #fff;
       margin: 20px 0;
       padding: 10px;
       text-align: center;
       border-radius: 7px;
}

.form-container {

       background: #fff;
       padding: 20px 0;
       border-radius: 7px;
       text-align: center;
}
form {
       padding:0 20px ;
}

.form-control {
       /* margin: 10px 0; */
       position: relative;
}

input, button {
       padding: 15px;
       width: 100%;
       outline: none;
       border: 1px solid #ccc;
       border-radius: 7px;
       margin-bottom: 10px;
       position: relative;
}
button:hover {
       opacity: .8;
}

input:focus {
       border-color: hsl(248, 32%, 49%);
}
button {
       background-color: hsl(154, 59%, 51%);
       color: #fff;
       cursor: pointer;
       margin-top: 20px;
}

i {
       position: absolute;
       top:13px;
       right: 20px;
       visibility: hidden;
}
img {
       width: 80%;
}
.form-control small {
       visibility: hidden;
       position: absolute;
       text-align: right !important;
       right:5px;
       top: 45px;
}

.form-control.error small, .form-control.error i {
       visibility: visible;
       color: hsl(0, 100%, 74%) ;
}
.form-control.error input::placeholder  {
       color: hsl(0, 100%, 74%) ;
}

.form-control.error input  {
       border-color: hsl(0, 100%, 74%) ;
}

.form-control.success input  {
       border-color: hsl(154, 59%, 51%);
}

.form-container p a {
       color: hsl(0, 100%, 74%);
       text-decoration: none;
}

.form-container p{
       padding: 10px 20px;
       font-size: 15px;
}


@media (max-width:768px) {
       section {
              /* height: fit-content; */
              text-align: center !important;
              padding: 20px 0;
       }
       main {
              height: fit-content;
       }
       .grid {
              grid-template-columns: 1fr;
              padding: 40px 0;
              gap: 0 !important;
              align-items: center;
              justify-content: center;
       }
       
       .text-content {
              padding: 10px;
       }
       h1 {
              font-size: 2.3rem !important;
       }
       .right-content {
              padding: 0;
       }
}

@media (min-width:768px) and (max-width:950px) {
       .container {
              padding: 0;
              /* height: 100vh; */
       }
      
}
@media (max-width:375px) {
       section {
              /* height: fit-content; */

       }

}

@media (orientation:landscape) {
       section {
              /* height:200%; */
              padding-bottom: 50px;
       }
} 
